@font-face {
    font-family: 'Museo Sans Cyrl';
    font-weight: normal;
    src: url('MuseoSansCyrl/MuseoSansCyrl-300.ttf');
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    font-weight: bold;
    src: url('MuseoSansCyrl/MuseoSansCyrl-500.ttf');
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    font-weight: 700;
    src: url('MuseoSansCyrl/MuseoSansCyrl-700.ttf');
}
