.growth-chart {
    position: absolute;
    z-index: 1;
    right: -179px;
    top: -158px;
}

.form-image {
    position: absolute;
    right: -56%;
    top: -15px;
}

.digital {
    position: absolute;
    right: -74%;
    top: -28%;
}

.white-arrow {
    position: absolute;
}

.decoration {
    position: absolute;
    right: 0;
    top: 0;
}

@media screen and (max-width: 1200px){
    .decoration {
        display: none;
    }

    .growth-chart {
        right: 12px;
        top: -74px;
        width: 97px;
        height: 97px;
    }

    .form-image {
        top: 90%;
        left: 50px;
        width: 97px;
        height: 97px;
    }

    .digital {
        z-index: -1;
        top: 92%;
        right: -24px;
        width: 97px;
        height: 133px;
    }
}