.relative {
    position: relative;
}

.background-secondary {
    background-color: var(--color-secondary);
}

.background-white {
    background-color: white;
}

.color-primary {
    color: var(--color-primary);
}

.color-white {
    color: white;
}

a.link {
    color: var(--color-primary);
    text-decoration: underline;
}

.link_arrow:after {
    display: block;
    width: 25px;
    height: 15px;
    background-image: url(../../assets/icons/drop-down-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-90deg);
    content: '';
}

a.link_no-underline {
    text-decoration: none;
}

a.link_grey {
    color: grey;
}

a.link_white {
    color: white;
}


@media screen and (max-width: 1200px){
    .img {
        width: 100%;
    }

    .img_imo {
        width: 40px;
        height: 40px;
    }

    .brand-img {
        height: 30px;
    }
}

@media screen and (max-width: 1200px) {
    .img_imo {
        width: 30px;
        height: 30px;
    }
}