.button {
    display: inline-block;
    min-width: 280px;
    padding: 20px 34px;
    border: 1px solid var(--color-secondary);
    border-radius: 100px;
    font-size: 22px;
    text-align: center;
    white-space: nowrap;
    color: var(--color-secondary);
    transition: 0.2s;
}

.button_std {
    width: 320px;
}

.button:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.button_primary {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.button_primary:hover {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: white;
}

.form {
    position: relative;
    z-index: 1;
    max-width: 430px;
    padding: 63px 30px 40px 30px;
    border: 1px solid var(--color-secondary);
    font-size: 14px;
    border-radius: 35px;
    background-color: #f9f9f9;
}

.form_ready > .form__content,
.form_success > .form__content {
    opacity: 0;
    pointer-events: none;
}

.form:not(.form_success) .form__success {
    display: none;
}

.form__success {
    position: absolute;
}

.form__success-check {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    background-image: url("../../assets/icons/check.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.form__success-text {
    color: green;
    font-size: 20px;
    text-align: center;
}

.form_ready,
.form_success {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form_ready:before {
    position: absolute;
    display: block;
    width: 90px;
    height: 90px;
    background-image: url("../../assets/icons/loader.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    animation: loader 1s infinite;
    content: '';
}

.form__control {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}

.form__label {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
    font-weight: normal;
    cursor: text;
    transition: 0.2s;
}

.form__input {
    width: 100%;
    padding: 9px 0;
    border-bottom: 1px solid var(--color-secondary);
}

.form__button {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
    font-size: 12px;
    top: -20px;
}

.form__description-title {
    margin-top: 24px;
}

.form__description {
    margin-top: 14px;
    line-height: 17px;
    letter-spacing: 0.3px;
}

.form__input[required] + .form__label:after {
    content: ' *';
    color: var(--color-primary)
}


.form__input::-webkit-input-placeholder {color:transparent;}
.form__input::-moz-placeholder {color:transparent;}
.form__input:-moz-placeholder {color:transparent;}
.form__input:-ms-input-placeholder {color:transparent;}

@media screen and (max-width: 1200px){
    .form {
        max-width: 100%;
        border-radius: 15px;
        font-size: 12px;
        padding: 60px 30px 40px 20px;
    }

    .button {
        min-width: 180px;
        padding: 10px 15px;
        font-size: 14px;
    }

    .form__label {
        font-size: 14px;
    }

    .form__input {
        padding: 10px 0;
    }

    .form__input:focus + .form__label,
    .form__input:not(:placeholder-shown) + .form__label {
        font-size: 12px;
    }

    .form__control {
        margin-bottom: 20px;
    }

    .button_std {
        width: 200px;
    }
}

@keyframes loader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
