.block {
    padding: 120px 135px;
}

.block_relative {
    position: relative;
    z-index: 1;
}

.block_go-net {
    padding-bottom: 250px;
}

.block:nth-child(even):not(.header-block) {
    background-color: #F9F9F9;
}

.block_offset-x {
    width: 100%;
    padding: 0 135px;
}

.block__content {
    max-width: 1196px;
    margin: 0 auto;
}

.block__img {
    position: absolute;
    top: 0;
    right: 0;
}

.block__img_mobile {
    right: 65px;
}

.block__img_net {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: flex-start;
    width: 600px;
    height: 100%;
}

.go-net-item {
    position: absolute;
    bottom: 100px;
}

.block__img-mobile-background {
    padding: 50px 20px 20px 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.block__img-mobile-background img {
    height: 100%;
}

.block__img-mobile-background_go-net-1 {
    z-index: 1;
    transform: translateY(60px);
}

.block__img-mobile-background_go-net-2 {
    transform: translateX(-60px);
}

.block__img-mobile-stack {
    background-image: url("../../assets/images/mobile-stack-background.png.png");
    padding: 40px 40px 40px 20px;
}

.block__img-mobile {
    background-image: url("../../assets/images/mobile-background.png");
}

.block__img-net {
    height: 100%;
}

.block__img_design {
    height: 50%;
    right: 64px;
}

.block__title {
    margin: 0 0 30px 0;
    font-weight: bold;
    font-size: 45px;
    line-height: 1.1;
}


.block__subtitle {
    font-size: 30px;
    line-height: 1;
}

.block__text {
    line-height: 22px;
    letter-spacing: -0.2px;
}

.block__img-influence > .block__img-mobile-background {
    height: 60%;
}

.block__img_net > .block__img-mobile-background {
    height: 60%;
}

.block__img-influence {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 700px;
    position: absolute;
    right: 0;
    top: 0;
}

.block__img-influence-1 {transform: translateY(153px);}

.block__img-influence-2 {transform: translateX(-41px);}

.block__img-influence-3 {transform: translate(-122px, 216px);}


@media screen and (max-width: 1400px) {
    .block__img_design {
        right: 0;
    }

    .block__img_net {
        width: 50%;
    }

    .block__img_influence {
        width: 50%;
    }
}

@media screen and (max-width: 1200px) {
    .block__img-influence {
        position: static;
        width: auto;
        height: 400px;
    }

    .block__img-influence-1 {transform: translateY(60px);}

    .block__img-influence-2 {transform: translateX(-70px);}

    .block__img-influence-3 {transform: translate(-142px, 80px);}

    .block__img-influence img {
        width: auto;
    }

    .block__img-influence .block__img-mobile-background {
        padding: 20px 10px;
    }

    .block__img-influence .block__img-mobile-stack {
        padding: 20px 26px 20px 20px;
    }

    .block__img_net .block__img-mobile-stack {
        padding: 40px 26px 20px 20px;
    }

    .block__img-mobile-background {
        height: 70%;
        padding: 30px;
    }

    .block__img-mobile-stack {
        background-image: url("../../assets/images/mobile-stack-background.png.png");
    }

    .block__img-mobile-background_go-net-2 {
        transform: translateX(-120px);
    }

    .block__img-mobile {
        background-image: url("../../assets/images/mobile-background.png");
    }

    .block {
        padding: 50px 8px;
    }

    .block__title {
        margin: 0 0 20px 0;
        font-size: 20px;
    }

    .block__video-title {
        font-size: 16px;
    }

    .block__subtitle {
        font-size: 16px;
    }

    .block__text {
        font-size: 14px;
        line-height: 1.2;
    }

    .block__img {
        position: static;
        align-items: flex-start;
        width: 100%;
    }

    .block__img_net {
        position: relative;
        right: 0;
        height: 500px;
    }

    .go-net-item {
        position: absolute;
        bottom: 20px;
        font-size: 14px;
    }
}