.drop-down {
    padding: 25px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 18px;
}

.drop-down__header {
    font-size: 22px;
    line-height: 1.3;
}

.drop-down_active .drop-down__body {
    display: block;
    height: auto;
    padding: 54px 0;
}

.drop-down__button {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: var(--color-primary);
    cursor: pointer;
}

.drop-down__button:after {
    display: block;
    width: 25px;
    height: 15px;
    margin-left: 15px;
    background-image: url("../../assets/icons/drop-down-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
    content: '';
}

.drop-down_active .drop-down__button:after {
    transform: rotate(180deg);
}

.drop-down__body {
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: 0.2s;
}

.drop-down__section {
    margin-top: 90px;
}

@media screen and (max-width: 1200px) {
    .drop-down {
        padding: 20px 0;
        font-size: 14px;
    }

    .drop-down__header {
        font-size: 14px;
        line-height: 1.2;
    }
    .drop-down_active .drop-down__body {
        padding: 30px 0 0;
    }

    .drop-down__button {
        margin-top: 20px;
        font-size: 14px;
    }
    .drop-down__button:after {
        width: 15px;
    }

    .drop-down__section {
        margin-top: 40px;
    }

}