.footer {
    color: white;
    padding: 81px 0 30px 0;
    font-size: 20px;
}

.footer__social-link {
    margin: 0 10px;
    width: 54px;
    height: 54px;
    background-repeat: no-repeat;
    background-position: center;
}

.footer__social-link_youtube {
    background-image: url("../../assets/icons/social/youtube.svg");
}

.footer__social-link_youtube:hover {
    background-image: url("../../assets/icons/social/youtube-color.svg");
}

.footer__social-link_inst {
    background-image: url("../../assets/icons/social/inst.svg");
}

.footer__social-link_inst:hover {
    background-image: url("../../assets/icons/social/inst-color.svg");
}

.footer__social-link_facebook {
    background-image: url("../../assets/icons/social/facebook.svg");
}

.footer__social-link_facebook:hover {
    background-image: url("../../assets/icons/social/facebook-color.svg");
}

.footer__social-link_linkedin {
    background-image: url("../../assets/icons/social/linkedin.svg");
}

.footer__social-link_linkedin:hover {
    background-image: url("../../assets/icons/social/linkedin-color.svg");
}

.footer__policy {
    font-size: 14px;
}

.footer__policy:hover {
    color: var(--color-primary);
}

.footer-line {
    position: absolute;
    left: 0;
    bottom: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-bottom: 1px solid var(--color-secondary);
}

.footer-line__arrow {
    position: absolute;
}

@media screen and (max-width: 1200px) {
    .footer-line {
        display: none;
    }
    .footer {
        padding: 40px 0 0 0;
        color: white;
        font-size: 14px;
    }

    footer img {
        height: 30px;
    }
}