.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: var(--color-secondary);
    color: white;
    border-bottom: 1px solid white;
}

.header-block {
    position: relative;
    z-index: 1;
    background-color: var(--color-secondary);
    color: white;
    margin-top: 75px;
    padding-top: 210px;
}

.header-block__title {
    margin: 0;
    font-size: 99px;
    font-weight: bold;
    letter-spacing: 1.2px;
}

.header-block__subtitle {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 35px;
    font-weight: normal;
}

.header__line {
    position: absolute;
    top: 550px;
    z-index: -1;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-top: 1px solid white;
}

.header__information {
    margin-top: 188px;
}


@media screen and (max-width: 1200px) {
    .header-block {
        margin-top: 75px;
        padding-top: 77px;
    }

    .header-block__title {
        font-size: 40px;
        letter-spacing: 0;
    }

    .header-block__subtitle {
        margin-top: 13px;
        font-size: 16px;
    }

    .header__information {
        margin-top: 252px;
    }

    .header__line {
        left: 0;
        top: 443px;
        width: 43%;
        justify-content: flex-end;
    }

    .header__line img {
        right: -1px;
        height: 34px;
        transform: rotate(180deg);
    }
}
