
.list_primary .list__header {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
}

.list_primary .list__item:before {
    background-color: var(--color-primary);
}

.list__header {
    display: inline-block;
    font-size: 30px;
    margin-bottom: 20px;
}

.list__body {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list__item {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.list__item:before {
    display: block;
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    margin: 10px 28px 0 0;
    border-radius: 50%;
    background-color: var(--color-secondary);
    content: '';
}

@media screen and (max-width: 1200px) {
    .list__header {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .list__item {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .list__item:before {
        width: 5px;
        height: 5px;
        margin: 10px 9px 0 0;
    }
}
