.menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu__body {
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.menu__item {
    margin: 0 31px;
    font-size: 14px;
    color: white;
}

.menu__item:hover {
    color: white;
}

.menu__item_active {
    font-weight: bold;
    border-bottom: 2px solid var(--color-primary);
}

.menu__item:last-child {
    margin-right: 0;
}

@media screen and (max-width: 768px){
    .menu__body {
        position: fixed;
        width: 0;
        height: 0;
        align-items: flex-start;
        right: 0;
        top: 0;
        flex-direction: column;
        background-color: #2B2B2B;
    }

    .menu_opened .menu__body {
        width: auto;
        height: auto;
        padding: 90px 60px 125px 30px;
    }

    .menu__item {
        margin: 5px 30px;
    }

    .menu__item_active {
        color: var(--color-primary);
        border-bottom: none;
        font-weight: normal;
    }
    .menu__item_active:hover {
        color: var(--color-primary);
    }

    .menu__icon {
        position: fixed;
        z-index: 1;
        right: 20px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        background-image: url('../../assets/icons/menu.svg');
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.2s;
    }

    .menu_opened .menu__icon {
        transform: rotate(90deg);
        background-image: url('../../assets/icons/close-menu.svg');
    }
}