.slider__arrow {
    cursor: pointer;
}

.slider__arrow_prev {
    transform: rotate(180deg);
}

.slider__container_design .slider__slide{
    height: 240px;
    padding: 0 10px;
}
.slider__container_design .slider__slide img{
    height: 100%;
    border-radius: 20px;
}

.slider__container_client .slider__slide{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.slider__slide {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .slider__arrow {
        width: 70%;
    }

    .slider__container_design .slider__slide_tinkoff img{
        height: auto;
    }

    .slider__slide.slick-slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider__slide.slick-slide img  {
        max-width: 100%;
    }
}