.stack {
    position: relative;
    padding: 36px 30px;
    border: 1px solid currentColor;
    border-radius: 20px;
}

.stack_big {
    padding: 85px 54px;
    border-radius: 30px;
}

.stack:after,
.stack:before {
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 30px;
    background-color: white;
    content: '';
}

.stack:after {
    top: 10px;
    left: 10px;
}

.stack:before {
    top: 21px;
    left: 21px;
}

.stack_desktop {
    padding: 30px 30px 12px;
}

.stack_dark:after,
.stack_dark:before {
    border: 1px solid white;
    background-color: black;
}

.stack__arrows {
    position: absolute;
    right: 81px;
    top: -28px;
}

.stack__header {
    position: absolute;
    top: -25px;
    left: -10px;
    padding: 4px 35px 4px 17px;
    border-radius: 100px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.stack__label {
    margin-left: 12px;
    font-size: 30px;
}

.stack__title {
    font-size: 30px;
}

.stack__dots,
.stack__dots:before,
.stack__dots:after {
    display: inline-block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: currentColor;
    white-space: nowrap;
    content: '';
}

.stack__dots:before {
    margin-left: 42px;
}

.stack__dots:after {
    margin-left: 24px;
}

.stack__dots {
    position: absolute;
    top: 25px;
    left: 25px;
    display: flex;
    margin-left: 0;
}

@media screen and (max-width: 1200px) {
    .stack_desktop {
        padding: 0;
        border: none;
        background: transparent;
    }
    .stack_desktop:after,
    .stack_desktop:before {
        display: none;
    }
    .stack:after {
        top: 5px;
        left: 5px;
        border-radius: 15px;
    }

    .stack:before {
        top: 10px;
        left: 10px;
        border-radius: 15px;
    }

    .stack_big {
        padding: 50px 13px 42px;
        border-radius: 15px;
    }

    .stack__arrows {
        top: -15px;
        right: 20px;
        height: 30px;
    }

    .stack__dots,
    .stack__dots:before,
    .stack__dots:after {
        width: 8px;
        height: 8px;
    }
    .stack__dots {
        top: 13px;
        left: 10px;
    }
    .stack__dots:before {
        margin-left: 20px;
    }
    .stack__dots:after {
        margin-left: 11px;
    }

    .stack__header {
        top: -10px;
        left: 0;
    }

    .stack__header img {
        width: 16px;
        height: 16px;
    }

    .stack__label {
        font-size: 20px;
    }

    .stack__title {
        font-size: 20px;
    }
}